@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Customers
@{
    ViewData["Title"] = "Customers list";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h3>Customers List</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Customers"> Create New</a>
        </div>
    </div>

   
    <div class="row">
      
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(d => d.CustomerID)</td>
                        <td>@Html.DisplayNameFor(d => d.Name)</td>
                        <td>@Html.DisplayNameFor(d => d.LastName)</td>
                        <td>@Html.DisplayNameFor(d => d.DocumentID)</td>
                        <td>@Html.DisplayNameFor(d => d.Email)</td>
                        <td>@Html.DisplayNameFor(d => d.Phone)</td>

                    </tr>
                </thead>
                <tbody>
                        @{
                            foreach (var i in (List<Customers>)ViewData["Customers"])
                            {
                               <tr>
                                    <td>@i.CustomerID</td>
                                    <td>@i.Name</td>
                                    <td>@i.LastName</td>
                                    <td>@i.DocumentID</td>
                                    <td>@i.Email</td>
                                    <td>@i.Phone</td>
                                    <td>
                                        <a asp-controller="Customers" asp-action="Update"  asp-route-id="@i.CustomerID" class="btn btn-warning">Edit</a>
                                        <a asp-controller="Customers" asp-action="Delete" asp-route-id="@i.CustomerID" class="btn btn-danger">Delete</a>

                                    </td>
                               </tr>

                            }

                        }
                    
                </tbody>
            </table>
            
        </div>
</div>
